---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="romulomourao | 404">
<div class="text-center">
    <h1 class="text-9xl font-extrabold text-gray-700">404</h1>
    <p class="text-xl font-bold text-gray-600">Page not found</p>
</div>
</BaseLayout>
